* {
	margin:0px;
	padding:0px;
}

body {
	font-family: Trebuchet MS;
	background: #FFF;
}

.DClogo {
    z-index:20!important;
    position:fixed;
    margin-top:6px;
    margin-left:6px;
    width:39px;
    height:39px;
}

.heading {
	position:fixed;
	width:100%;
	z-index:10!important;
}

.main-navigation {
	list-style: none;
	padding-top:15px;
	padding-bottom:15px;
	text-align:right;
	background:rgba(40,40,40,0.7);
}

.main-navigation:hover{
	background:rgba(40,40,40,1.0);
}

.main-navigation li {
	display:inline-block;
	margin-left:2%;
	margin-right:3%;
}

.main-navigation li a {
	color:#CCC;
	text-decoration:none;
	font-weight:bold;
	font-size:14pt;
}

.main-navigation li a:hover{
	color:#FFF;
	text-decoration:underline;
	font-weight:bold;
	text-shadow:0px 0px 1px rgba(255, 255, 255, 0.5);
}


.various1 {
    background-image:url(../images/night_sky_bg.jpeg);
    background-repeat:repeat;
    background-size:cover;
    background-position:center;
	padding-top:240px; /*to make it not overlap the navigation panel*/
    padding-bottom:30px;
    padding-left:10%;
    padding-right:10%;
	z-index:-1;

	color:rgb(255, 255, 255);
	text-align:right;
}

.various1 h3{
    font-size:18pt;
	text-shadow:0px 0px 3px rgba(0, 0, 0, 0.8);
}

.various1 h5{
    padding-top:13px;
    font-size:10pt;
	text-shadow:0px 0px 1px rgba(0, 0, 0, 0.8);
}

.various2 {
    background-image:url(../images/sunrise_bg.jpg);
    background-repeat:repeat;
    background-size:cover;
    background-position:center;
	padding-top:240px; /*to make it not overlap the navigation panel*/
    padding-bottom:30px;
    padding-left:10%;
    padding-right:10%;
	z-index:-1;

	color:rgb(255, 255, 255);
	text-align:right;
}

.various2 h3{
    font-size:17pt;
	text-shadow:0px 0px 3px rgba(0,0,0,0.8);
}

.various2 h5{
    padding-top:13px;
    font-size:10pt;
	text-shadow:0px 0px 1px rgba(0, 0, 0, 0.8);
}

.various3 {
    background-image:url(../images/light_sky_bg.jpg);
    background-repeat:repeat;
    background-size:cover;
    background-position:center;
	padding-top:240px; /*to make it not overlap the navigation panel*/
    padding-bottom:30px;
    padding-left:10%;
    padding-right:10%;
	z-index:-1;

	color:rgb(255, 255, 255);
	text-align:right;
}

.various3 h3{
    font-size:18pt;
	text-shadow:0px 0px 3px rgba(0, 0, 0, 0.8);
}

.various3 h5{
    padding-top:13px;
    font-size:10pt;
	text-shadow:0px 0px 1px rgba(0, 0, 0, 0.8);
}






.description {
    margin-top:100px;
    margin-bottom:30px;
}

.description h1 {
    padding-top:20px;
	padding-bottom:20px;
	color:#003;
	font-size:28pt;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
}

.description h1:after {
    width:100px;
    height:2px;
    background-color:#000090;
    display:block;
    content:" ";
    margin:0px auto;
    margin-top:25px;
    margin-bottom:10px;
}

.description p{
	padding:0px 5% 15px 5%;
	font-size:14pt;
	line-height:130%;
	text-align:center;
	text-transform:none;
	color: rgba(0, 0, 40, 0.85);
}
.description a {
    color:black;
    text-decoration:none;
}

@media (max-width: 650px) {
    .description {
        width:90%;
    }
}

@media (max-width: 550px) {
    .description h1 {
        font-size:20pt;
    }
    .description p {
        font-size:12pt;
    }
}




.selectors{
    margin: 0px auto 150px auto;
}

.selectors button {
    padding-left:40px;
    padding-right:40px;
}






.project {
    display:-webkit-flex;
    display:flex;
    padding:80px;
    border-radius:80px;
    margin-bottom:100px;
}





.project-description {
    -webkit-flex:3;
    -ms-flex:3;
    flex:3;
    padding-right:60px;
}

.project-description h3{
    font-size:20pt;
    font-weight:bold;
    padding-bottom:20px;
    color:#000;
}

.project-description h3:after {
    width:80%;
    height:2px;
    background-color:#000;
    display:block;
    content:" ";
    margin-top:20px;
}

.project-description h5 {
    font-size:12pt;
    font-weight:bold;
    margin-bottom:10px;
}

.project-description h6 {
    font-size:12pt;
    font-weight:normal;
    color:#666;
}

.project-description p{
	font-size:13pt;
	line-height:125%;
	text-align:justify;
	text-transform:none;
	color:rgba(0, 0, 40, 0.85);
}

@media (max-width:767.5px) {
    .project-description h5, h6 {
        font-size:10pt;
    }
    .project-description p {
        font-size:11pt;
    }
}





.carousel {
    padding:0px;
    border:10px solid rgb(0,0,0);
    -webkit-flex:3;
    -ms-flex:3;
    flex:3;
    margin-left:20px;
}

@media (max-width:994px) {
    .project {
        -webkit-flex-direction:column;
        flex-direction:column;
        padding:40px;
        border-radius:40px;
    }
    .carousel {
        margin:14px;
    }
    .project-description {
        padding:15px;
    }
}







.end {
	background-color:#00004D;
	margin-top:120px;
	padding-top:50px;
	text-align:center;
	color:rgb(255,255,255);
}

.end h2{
	color:#FFF;
	font-size:26pt;
	font-weight:bold;
	padding-bottom: 20px;
}

.end p {
	color:#EEE;
	font-size:11pt;
	text-decoration:none;
	font-weight:normal;
	padding:3px;
}

.end h6, .end a {
	color:#EFEFEF;
	font-size: 12pt;
	padding:20px 0px;
	text-decoration:underline;
	font-weight:normal;
}

.end table{
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom:20px;
}

.end table td{
    border:10px solid rgba(0, 0, 0, 0);
}

.end img {
    background-color:rgb(255,255,255);
    border:3px solid white;
    border-radius:2px;
    width:30px;
    height:30px;
}
